includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 6
	paths:
		- plugin/shouse.php
		- plugin/uninstall.php
		- plugin/src
	scanFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
		- dev/stubs/third-party.php
	dynamicConstantNames:
		- SHOUSE_MODULES
		- SHOUSE_LOCK_SETTINGS
		- SHOUSE_SAFE_MODE
		- SHOUSE_IGNORE_OVERLAPS
		- SHOUSE_TRUSTED_PROXIES
		- SHOUSE_PROXY_HEADER
		- WP_CLI
